              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      阅读摘要
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#storage">
                      存储
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#java">
                      Java
                    </a>
                  </li>
                </ul>
              </div>
